.profile__input{
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    width: 400%;
    background-color: #948787;
    text-align: right;
    outline: none;
}

@media screen and (max-width: 767px) {    
    .profile__input {
        width: 340%;
    }
}