.user {
    width: 70%;
    margin: 50px auto;
    border: 3px solid rgb(249, 241, 241);
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.user:last-of-type {
    margin-bottom: 50px;
}