.header__button-testing {
    width: 96px;
    height: 32px;
    margin: auto;
    background: #3DDC84;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}