.city-card__image {
    width: 40vw;
    height: 65vh;
    object-fit: cover;
    object-position: left center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 410px) {    
    .city-card__image {
        width: 80%;
        height: 45vh;
        margin: 50px auto 20px;
    }
}