.header__profile-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 7px;
}

@media screen and (max-width: 767px) {    
    .header__profile-text {
        display: none;
    }
}