.popup__image-caption {
    margin-top: 0;
    margin-right: 15px;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    color: #ffffff;
    padding: 0;
    text-align: justify;
}

@media screen and (max-width: 410px) {    
    .popup__image-caption {
        margin-top: 10px;
        margin-right: 15px;
        font-weight: 100;
        font-size: 17px;
        line-height: 15px;
    }
}